section {
  width: 100%;
  padding: 0 5px;

  #cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    #pay-btn-group {
      display: flex;
      gap: 10px;

      #clear-cart {
        font-size: 14px;
        border-radius: 3px;
        padding: 5px 10px;
        border: none;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        background-color: rgb(206, 1, 1);
        align-items: center;
        display: flex;
        gap: 3px;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
    // background-color: rgb(247, 249, 250);

    th {
      padding: 10px;
    }

    tr {
      border: 1px solid #e0e0e0;
      border-left: none;
      border-right: none;
      text-align: center;
    }

    tbody {
      td {
        padding: 0 10px;

        #product-container {
          display: flex;
          align-items: center;

          img {
            width: 150px;
            height: 100px;
          }
        }

        button {
          background-color: transparent;
          border: transparent;
        }

        #btn-group {
          text-align: center;

          // #btn-edit{
          //     color: rgb(11, 60, 134);
          // }

          #btn-del {
            color: rgb(209, 24, 24);
          }
        }
      }
    }
  }

  #cart-summary {
    border: 1px solid #eeecec;
    padding: 10px;

    .item {
      display: flex;
      justify-content: space-between;
    }

    #cart-checkout {
      button {
        width: 100%;
        border: none;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: rgb(36, 146, 236);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    overflow-x: scroll;
  }
}

@media screen and (min-width: 992px) {
  section {
    overflow-x: scroll;

    table {
      width: 70%;
    }

    #cart-body {
      display: flex;
      gap: 20px;

      #cart-summary {
        width: 30%;
        height: fit-content;
      }
    }
  }
}
