section {
  width: 100%;
  padding: 0 5px;

  #cart-pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    #pay-btn-group {
      display: flex;
      gap: 10px;

      #clear-cart {
        font-size: 14px;
        border-radius: 3px;
        padding: 5px 10px;
        border: none;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        background-color: rgb(206, 1, 1);
      }

      #proceed-payment {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px;
        height: 35px;
        text-transform: uppercase;
        color: #fff;
        border: none;
        border-radius: 3px;
        background-color: rgb(5, 119, 226);
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
    background-color: rgb(247, 249, 250);

    th {
      padding: 10px;
    }

    tr {
      border: 2px solid #555;
    }

    tbody {
      td {
        border: 2px solid #555;
        padding: 0 10px;

        img {
          width: 200px;
        }

        button {
          background-color: transparent;
          border: transparent;
        }

        #btn-group {
          text-align: center;

          // #btn-edit{
          //     color: rgb(11, 60, 134);
          // }

          #btn-del {
            color: rgb(209, 24, 24);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    overflow-x: scroll;
  }
}
