section {
  table {
    tbody {
      .centered {
        text-align: center;
      }

      #btn-group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}
