section {
  margin: 50px auto;

  #cart-pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    button{
        font-size: 1rem;
        font-weight: bold;
        padding: 5px 10px;
        height: 35px;
        text-transform: uppercase;
        background-color: red;
    }
  }

  table {
    width: 100%;
    background-color: #444;
    border-collapse: collapse;
    overflow-x: auto;

    thead {
      background-color: darkolivegreen;
    }

    th {
      padding: 10px;
    }

    tr {
      border: 2px solid #555;
    }

    tbody {
        
      td {
        border: 2px solid #555;
        padding: 0 10px;


        img{
            width: 200px;
        }

        button{
            background-color: transparent;
            border: transparent;
        }

        #btn-group{
            display: flex;
            gap: 25px;

            #btn-edit{
                color: rgb(11, 60, 134);
            }

            #btn-del{
                color: rgb(209, 24, 24);
            }
        }
      }
    }
  }
}
