#item-card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 3px;
  overflow: hidden;

  img {
    width: 100%;
    height: 300px;
  }

  button {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0px;
    border: none;
    background-color: transparent;

    #prod-price {
      color: rgb(238, 163, 0);
      font-weight: 600;
    }
  }
}
